body {
    background-image: url(pix\ violeta.gif);
    background-repeat: no-repeat;
    background-position: unset;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 70px;
    border: 2px solid #fff;
    background-color: #183623ab;
    color:#ffffff;
    font-family: 'Titulo';
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

@font-face {
    font-family: 'Titulo';
    src: url('C:\Luz\MercadoLucila\LucilaMercadoRuiz\fonts\Crang.ttf') format('truetype');
}

@font-face {
    font-family: 'subtitulo';
    src: url('C:\Luz\MercadoLucila\LucilaMercadoRuiz\fonts\Perfect DOS VGA 437 Win.ttf') format('truetype'),
         url('C:\Luz\MercadoLucila\LucilaMercadoRuiz\fonts\Perfect DOS VGA 437.ttf') format('truetype');
}

h2 {
    font-family: 'subtitulo';
    color: #fff;
}