body {
    background-image: url(pix\ violeta.gif);
    background-repeat: no-repeat;
    background-position: unset;
    background-size: cover;
}

h1 {
    position: relative;
    top: 5vh;
    text-align: left;
    font-size: 10vh;
    font-family: 'Titulo';
    margin-left: 3vh;
    height: 15vh;
    display: flex;
    flex-flow: left;
    flex-direction: left;
    justify-content: left;
    justify-items: left;
    background: linear-gradient(to right, rgb(27, 0, 34) 15%, rgb(58, 2, 46), rgb(161, 2, 2),rgb(255, 174, 0),rgb(255, 157, 76), rgb(255, 138, 60));
    padding: 5vh 5vh 0 5vh;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
   
    
}

.box1 {
    padding-top: 10vh;
}

@font-face {
    font-family: 'Titulo';
    src: url(/LucilaMercadoRuiz/fonts/Crang.ttf);
}

@font-face {
    font-family: 'subtitulo';
    src: url(/LucilaMercadoRuiz/fonts/Perfect\ DOS\ VGA\ 437.ttf);
}

.box2 {
    margin-left: 10vh;
    background-image: url(/LucilaMercadoRuiz/Estilos/wall.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 75vh;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

h2 {
    font-family: 'subtitulo';
    color: #fff;
}

p {
    font-family: 'subtitulo';
    color:bisque;
    margin-left: 5vh;
}