
body {
    background-image: url("/MercadoLucila/LucilaMercadoRuiz/TP 3/CSS/tp3back.png");
    background-size: cover;
    color: rgb(255, 255, 255);

}
.input1 {
    position: relative;
    left: 7vw;
}
.input2 {
    position: relative;
    right: 9vw;
}

.inputs {
    display: flex;
    justify-content: space-between;
}
.grupoA {
    margin-right: 5vw;
    display: flex;
}
.grupoB {
    margin-left: 10vw;
    margin: auto;
}
.box {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 20vh;
    flex-direction: column;
}

.box1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imgsa {
    width: 30vw;
    margin: 1vw;
}

.imgsb {
    width: 30vw;
    margin: 1vw;
    position: relative;
    right: 2vw;
}

img {
    width: 9vw;
    margin: 1vw;
}

.imagenes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.imagenesA {
    background-color: rgba(0, 0, 0, 0.445);
}

.imagenesB {
    background-color: rgba(0, 0, 0, 0.445);
    display: flex;
    flex-direction: column;
    flex-flow: initial;
}

.input {
    display: flex;
    justify-content: space-around;
}

input:focus {
    outline: none;
}

input {
    background-color: rgb(37, 37, 37);
    color: beige;
}

button {
    background-color: rgb(37, 37, 37);
    color: beige;
}